{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "6",
          "browsers": ["ie>=11"]
        },
        "loose": true,
        "useBuiltIns": true,
        "modules": false
      }
    ]
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-class-properties",
    "transform-object-rest-spread",
//    [
//      "transform-runtime",
//      {
//        "polyfill": false,
//        "regenerator": true
//      }
//    ]
  ]
}
